<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to 'Finance Tracker', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
              <div class="dropdown-menu">
                <%= link_to my_portfolio_path, class: "dropdown-item" do %>
                  <%= fa_icon 'line-chart' %> Portfolio
                <% end %>
                <%= link_to my_friends_path, class: "dropdown-item" do %>
                  <%= fa_icon 'users' %> Friends
                <% end %>
                <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                  <%= fa_icon 'edit' %> Edit profile
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                  <%= fa_icon 'sign-out' %> Log out
                <% end %>
              </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
